/*font-family: 'Roboto', sans-serif;*/

/* 와이드 pc  */
#wrap{overflow: hidden;}
	

#imgBG{
	position:absolute; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100;
   display:none;
}

#content{background: black;}
	


/*어바웃영역*/
#content .about{background: url(../images/about.jpg)no-repeat center center; background-size: cover; height: 1000px; overflow: hidden; padding: 150px 0;}
#content .about dl{text-align: center; color: white;width: 60%; margin: 300px auto 0 auto;  }
#content .about dt{margin-bottom: 50px;}
#content .about dt span{font-weight: 200;}
#content .about dt p:nth-of-type(1){font-size: 40px;margin-bottom: -15px;}
#content .about dt p:nth-of-type(2){font-size: 80px;}
#content .about dd{font-size: 22px;}

/*트레일러영역*/
#content .trailer{margin-bottom: 200px;}
#content .trailer div{ height: 300px;background: url(../images/trailer.jpg)no-repeat center center;
background-attachment: fixed; background-size: cover;margin-bottom: 200px;}
#content .trailer h3{text-align: center; font-size: 80px; padding-top: 100px;}
#content .trailer ul{overflow: hidden;width: 1600px; margin: 0 auto}
#content .trailer ul li{width: 31%; margin: 0 1%; float:left;}
#content .trailer ul li:nth-of-type(1){}
#content .trailer ul li:nth-of-type(4){clear: both;}
#content .trailer ul li figure{display: block;}
#content .trailer ul li figure a{display: block;}
#content .trailer ul li img{display: block; width: 100%}


#content .trailer ul li figcaption{text-align: center; margin-bottom: 200px; opacity: .8;}
#content .trailer ul li figcaption span{display: block; font-size: 30px; margin: 60px 0 30px 0;font-weight: bold;}
#content .trailer ul li:hover figcaption{opacity: 1}
#content .trailer ul li:hover figcaption span{}

/*캐릭터영역*/
#content .character{background: white; color: #333; padding-bottom: 350px;}
#content .character>div:nth-of-type(1){ height: 300px;background: url(../images/char.jpg)no-repeat center center;
background-attachment: fixed; background-size: cover;margin-bottom: 200px;}
#content .character h3{text-align: center; font-size: 80px; padding-top: 100px;color: white;}

#content .character .char{ margin-bottom: 150px; width: 1600px; margin: 0 auto 100px auto;overflow: hidden;}

#content .character .char:nth-of-type(2) div{width: 45%; margin: 0 2.5%; background:url(../images/char1.jpg);height: 600px;background-size: cover; float: left; transition:all .2s}
#content .character .char:nth-of-type(2) dl{float: right;}

#content .character .char:nth-of-type(3) div{width: 45%; margin: 0 2.5%; background:url(../images/char2.jpg);height: 600px;background-size: cover; float: right; transition:all .2s}
#content .character .char:nth-of-type(3) dl{float: left;}


#content .character .char dl{width: 45%; margin:0 2.5%; text-align: center;}
#content .character .char dl{}
#content .character .char dl dt{font-size: 40px; margin: 100px 0 10px 0;color: #cc9900; font-weight: bold;}
#content .character .char dl dd:nth-of-type(1){font-size: 30px; margin-bottom: 80px; color: #666}
#content .character .char dl dd:nth-of-type(2){font-size: 20px}



/*갤러리영역*/
#content .gallery{padding-bottom: 350px;}
#content .gallery>div:nth-of-type(1){height: 300px;background: url(../images/gallery.jpg)no-repeat center center;
background-attachment: fixed; background-size: cover;margin-bottom: 200px;}
#content .gallery .gal_inner{overflow: hidden; width: 1600px; margin: 0 auto;}
#content .gallery h3{text-align: center; font-size: 80px; padding-top: 100px;}
#content .gallery ul{width: 50%;float: left; overflow: hidden; height: 805px; }
#content .gallery ul li{box-sizing: border-box; width: 45%; height: 100px; margin: 0 2.5%; position: relative;}
#content .gallery ul li img{ transition: all .2s; width: 100%}
#content .gallery ul li a{display: block;}
#content .gallery ul li:hover img{opacity: .5;}
#content .gallery ul li a .arrow{position: absolute;right: 40px; bottom: 40px; font-size: 30px; color: white; opacity: .5; transition: all .2s; z-index: 10}
#content .gallery ul li:hover a .arrow{opacity: 1; color: #336666}
#content .gallery ul li div{position: absolute; left:5%; top: 5%;opacity: 0; transition: all .2s; width: 90%; height: 90%; border: 1px solid #336666; margin: 0 auto; }
#content .gallery ul li:hover div{opacity: 1;}
#content .gallery ul li div p{text-align: center; position: relative; top: 48%; left: 0; font-size: 30px; color: #336666;font-weight: bold}
#content .gallery ul:nth-of-type(1) li:nth-of-type(1) div{top: 3%; height: 94%}
#content .gallery ul:nth-of-type(2) li:nth-of-type(3) div{left: 3%; width: 94%}

#content .gallery ul:nth-of-type(1) li:nth-of-type(1){height: 800px;background: #ccc;float: left;}
#content .gallery ul:nth-of-type(1) li:nth-of-type(2){height: 380px;background: #ccc;float: right; margin-bottom: 5%}
#content .gallery ul:nth-of-type(1) li:nth-of-type(3){height: 380px;background: #ccc;float: right;}

#content .gallery ul:nth-of-type(2) li:nth-of-type(1){height: 380px;background: #ccc;float: left;}
#content .gallery ul:nth-of-type(2) li:nth-of-type(2){height: 380px;background: #ccc;float: left;margin-bottom: 5%}
#content .gallery ul:nth-of-type(2) li:nth-of-type(3){height: 380px;background: #ccc;clear: both; width:95%;}

/*캐스트영역*/
#content .cast{padding-bottom: 200px; background: white; }
#content .cast a{display: block;}
#content .cast>div:nth-of-type(1){height: 300px;background: url(../images/cast.jpg)no-repeat center center;
background-attachment: fixed; background-size: cover;margin-bottom: 150px;}
#content .cast h3{text-align: center; font-size: 80px; padding-top: 100px;}



/*푸터영역*/



/* 일반 pc */
@media screen and (max-width:1280px) {
   #headerArea #gnb ul li a{font-size: 20px}
   #headerArea h1{ font-size: 30px; margin-top: 30px;}
    
    
    #content .about dd{ width: 100%; margin: 0 auto}
    
/*트레일러*/
	#content .trailer ul{width: auto}
	#content .trailer ul li{width: 48%}
	#content .trailer ul li:nth-of-type(3){clear: both}
	#content .trailer ul li:nth-of-type(4){clear: none}
	#content .trailer ul li:nth-of-type(5){display: none}
	#content .trailer ul li:nth-of-type(6){display: none}
    #content .trailer ul li figcaption{margin-bottom: 150px;}

/*캐릭터*/
	#content .character .char{width: auto}
    #content .character .char dl dd:nth-of-type(1){margin-bottom: 30px;}
    #content .character .char dl dd:nth-of-type(2){font-size: 18px;}
    #content .character .char dl dt {margin:40px 0 10px 0;}
/*갤러리*/
	#content .gallery .gal_inner{width: auto}
	#content .gallery ul{float: none; width: auto; height: auto}
	#content .gallery ul:nth-of-type(1) li:nth-of-type(1){display: none}
	#content .gallery ul:nth-of-type(2) li:nth-of-type(3){display: none}

	#content .gallery ul:nth-of-type(1) li:nth-of-type(2){height: auto}
	#content .gallery ul:nth-of-type(1) li:nth-of-type(3){height: auto}
	#content .gallery ul:nth-of-type(2) li:nth-of-type(1){height: auto}
	#content .gallery ul:nth-of-type(2) li:nth-of-type(2){height: auto}

/*캐스트*/
	
/*	#content .cast cast_inner{width: auto;}*/

}


/* 테블릿 */
@media screen and (max-width:1024px) {
	#content .about{background: url(../images/about_tr.png)no-repeat center center; padding: 0}
	#content .trailer{margin-bottom: 50px;}
    #content .trailer div{height: 200px; margin-bottom: 100px; margin-bottom: 150px;}
    #content .trailer h3{ font-size: 60px; padding-top: 60px;}
	#content .trailer ul li:nth-of-type(1){float: none; width: auto}
	#content .trailer ul li:nth-of-type(2){float: none; width: auto}
	#content .trailer ul li:nth-of-type(3){display: none;}
	#content .trailer ul li:nth-of-type(4){display: none;}
	
    
    #content .character>div:nth-of-type(1){height: 200px}
    #content .character h3{padding-top: 60px; font-size: 60px;}
    #content .character .char:nth-of-type(2) div{float: none; width: 70%; margin: 0 auto}
    #content .character .char:nth-of-type(2) dl{float: none;}
    #content .character .char dl dt{margin: 50px 0 10px 0}
    #content .character .char dl dd:nth-of-type(1){margin-bottom: 40px;}
    #content .character .char:nth-of-type(3) div{float: none; width: 70%; margin: 0 auto}
    #content .character .char:nth-of-type(3) dl{float: none;}
	#content .character {padding: 0 0 50px 0}
	#content .character .char{margin:0 0 150px 0;}
	#content .character .char img{width: 70%; margin: 0 auto}
	#content .character .char dl{margin: 0 auto; width: 70%}
    
    
    #content .gallery{padding-bottom: 100px;}
    #content .gallery>div:nth-of-type(1){height: 200px;margin-bottom: 150px;}
    #content .gallery h3{font-size: 60px; padding-top: 60px;}
    
    
    #content .cast{padding-bottom: 150px;}
    #content .cast>div:nth-of-type(1){height: 200px;margin-bottom: 150px;}
    #content .cast h3{font-size: 60px; padding-top: 60px;}
    
    #footerArea a{right: 50px; bottom: 110px;}
    
}

@media screen and (max-width:768px) {
    #content .character .char:nth-of-type(2) div{height:400px;}
    #content .character .char:nth-of-type(3) div{height:400px;}
    #content .about dd{font-size: 20px;}
    
    #headerArea #gnb ul li{float: none; width: auto;}
    #headerArea #gnb {background: rgba(0,0,0,.8);position: absolute; left: 0;top: 100px; width: 100%; margin: 0;}
    #headerArea #gnb ul li a{ padding: 15px 0; text-align: center;}
}



/* 모바일 */
@media screen and (max-width:640px) {
    
    #content .about dl dd{font-size: 18px;}
    #content .about dl{margin-top: 200px; width: 80%;}

    #content .trailer{margin-bottom: 50px;}
    #content .trailer div{height: 150px; margin-bottom: 80px; margin-bottom: 100px;}
    #content .trailer h3{ font-size: 40px; padding-top: 50px;}
    #content .trailer ul li figcaption{margin-bottom: 100px;}

    #content .character>div:nth-of-type(1){height: 150px}
    #content .character h3{padding-top: 50px; font-size: 40px;}
    
    #content .gallery{padding-bottom: 100px;}
    #content .gallery>div:nth-of-type(1){height: 150px;margin-bottom: 100px;}
    #content .gallery h3{font-size: 40px; padding-top: 50px;}
    
	#content .gallery ul{float: left; width: 50%}
	#content .gallery ul li{width: auto;}
	#content .gallery ul:nth-of-type(1) li:nth-of-type(2){display: none;}
	#content .gallery ul:nth-of-type(2) li:nth-of-type(1){display: none;}
	

    
    #content .cast{padding-bottom: 100px; }
    #content .cast>div:nth-of-type(1){height: 150px;margin-bottom: 100px;}
    #content .cast h3{font-size: 40px; padding-top: 50px;}

}

/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
	#wrap { min-width:320px; }
}


