#content{width: 1200px; margin: 0 auto;font-family: 'Nanum Gothic', sans-serif;}
#list_search{overflow: hidden}
#list_search1{float: left; text-align: center; padding: 10px 30px;  background: rgb(255,51,0); color: white; font-weight: bold}
#list_search3{float: left; margin-left: 450px;}
#list_search4{float: left; }
#list_search5 input{border: 1px solid #ccc; width: 100px; font-size: 20px; padding: 4px 0 3px 0;}
#list_search4 input{border: 1px solid #ccc; width: 323px; font-size: 20px; padding: 5px 0 6px 0}
.selecter{float: left; border: 1px solid #ccc; width: 100px; font-size: 20px; padding: 5px 0}
#list_search3 select{border: 1px solid #ccc; width: 100px; font-size: 20px; padding: 5px 0}

#list_content{padding-top: 100px;}
#list_item{overflow: hidden; margin-bottom: 50px; position: relative}
#list_item a{color: rgba(255,255,255,0); text-indent: -999%;position: absolute; left: 0; top: 0; width: 1200px; height: 400px;}

#list_item_con{float: left; width: 600px; height:400px; background: rgba(180,180,180,.1);}
#list_item_con dl{ width: 500px; height: 300px; margin: 50px;}
#list_item_con dl dt{font-size:30px; margin-bottom: 20px; font-weight: bold;line-height: 1.5em}
#list_item_con dl dd:nth-of-type(1){font-size: 20px; margin-bottom: 40px;font-weight: bold; color:#666}
#list_item_con dl dd:nth-of-type(2){line-height: 1.5em; font-weight: bold; font-size: 16px; color:#666}

#list_item_img{float: right;width: 600px; height:400px;}
#list_item_img img{width: 600px;}





#page_button{text-align: center; padding: 40px 0;}
#button{position: absolute;right: 0;bottom: 30px; font-size: 18px; background: rgb(255,51,0); padding: 10px 0;}
#button::after{content: ""; display: block; position: absolute; left: 123px; top: 12px; width: 2px; height: 15px; background: white; }
#button a{color: white; padding: 10px 40px;}
#list_content{position: relative;}









