html,body{overflow: hidden;}

#login_wrap{background: url(../images/login_back.jpg)no-repeat center center;overflow: hidden; height: 938px; width: 1920px; position: relative;}

#wrap{width: 1000px; height: 750px;position: absolute; left: 460px;; top: 95px; background: rgba(255,255,255,.8);font-family: 'Nanum Gothic', sans-serif;}

#title{width: 186px; margin: 0 auto}
#title img{width: 186px; margin: 100px auto 30px auto;}

#sub_title{text-align: center; font-size: 20px; margin-bottom: 150px;font-family: 'Roboto', sans-serif;font-weight: 400; color: #666}
#sub_title span{font-weight: 600;}

#login_form{width: 400px; margin: 0 auto}

.lo_in1{background: none; border: none; border-bottom: 1px solid #999; width: 400px; margin-bottom: 50px; }
.lo_in2{background: none; border: none; border-bottom: 1px solid #999; width: 400px; margin-bottom: 50px; }

.input_img{position: relative;}
#id_pw_input span{position: absolute; top: 0;right: 0}

#login_button{float: left;}
#login_button input{background: rgba(255,104,0); border: none;cursor: pointer; width:150px; margin: 0 33.33px;font-size: 18px;padding: 10px 0;font-family: 'Nanum Gothic', sans-serif; color: white}

#join_button{background: rgba(255,104,0); float: left; width:150px;margin-right: 33.33px}
#join_button a{display: block; font-size: 18px;padding: 10px 0;color: white; text-align: center; vertical-align: middle;}


#action_btn{overflow: hidden;}
