#content_area{overflow: hidden; width: 1200px; margin: 0 auto}

#content_area img:nth-of-type(1){float: left; width:700px; margin: 0 30px 0 0 }
#content_area div:nth-of-type(2){float: left; width: 470px; font-family: 'Nanum Gothic', sans-serif;}
#content_area div:nth-of-type(2) h3{font-size: 2.857em; font-weight: bold; margin: 20px 0 10px 0; color: rgb(255,0,51)}
#content_area div:nth-of-type(2) dt{font-size: 2.143em; margin-bottom: 60px; color: rgb(255,102,0)}
#content_area div:nth-of-type(2) dd{font-size: 1.286em; text-align: justify; line-height: 1.8em; color: #666}
#content_area div:nth-of-type(2) dd:last-child{font-size: 1.143em; font-weight: bold;width: 200px; height: 50px; background-color: rgb(255,0,51); margin-top: 35px;  }
#content_area div:nth-of-type(2) dd:last-child a{display: block;  color: #fff; text-align: center; height: 38px; padding-top: 12px; transition: all .2s}
#content_area div:nth-of-type(2) dd:last-child a:hover{background: #fff; color: rgb(255,0,51); border: 1px solid rgb(255,0,51);}

#content_area div:nth-of-type(3){float: left; width: 470px; margin-right: 30px;
margin-top: 150px;font-family: 'Nanum Gothic', sans-serif;}
#content_area img:nth-of-type(2){float: left; margin-top: 150px; width: 700px;}
#content_area div:nth-of-type(3) h3{font-size: 2.857em; font-weight: bold; margin: 20px 0 10px 0; color: rgb(255,0,51); text-align: right;}
#content_area div:nth-of-type(3) dl{text-align: right;}
#content_area div:nth-of-type(3) dt{font-size: 2.143em; margin-bottom: 60px; color: rgb(255,102,0)}
#content_area div:nth-of-type(3) dd{font-size: 1.286em; text-align:justify; line-height: 1.8em; color: #666}
#content_area div:nth-of-type(3) dd:last-child{font-size: 1.143em; font-weight: bold;width: 200px; height: 50px; background-color: rgb(255,0,51); margin-top: 35px;  margin-left: 270px; margin-top: 130px;}
#content_area div:nth-of-type(3) dd:last-child a{display: block;  color: #fff; text-align: center; height: 38px; padding-top: 12px; transition: all .2s}
#content_area div:nth-of-type(3) dd:last-child a:hover{background: #fff; color: rgb(255,0,51); border: 1px solid rgb(255,0,51);}

#content_area img:nth-of-type(3){float: left; margin-top: 150px; width: 700px; margin-bottom: 150px;}
#content_area div:nth-of-type(4){float: left; width: 470px; margin-left: 30px;
margin-top: 150px;font-family: 'Nanum Gothic', sans-serif;}
#content_area div:nth-of-type(4) h3{font-size: 2.857em; font-weight: bold; margin: 20px 0 10px 0; color: rgb(255,0,51)}
#content_area div:nth-of-type(4) dt{font-size: 2.143em; margin-bottom: 60px; color: rgb(255,102,0)}
#content_area div:nth-of-type(4) dd{font-size: 1.286em; text-align: justify; line-height: 1.8em; color: #666}
#content_area div:nth-of-type(4) dd:last-child{font-size: 1.143em; font-weight: bold;width: 200px; height: 50px; background-color: rgb(255,0,51); margin-top: 35px;  margin-top: 130px;}
#content_area div:nth-of-type(4) dd:last-child a{display: block;  color: #fff; text-align: center; height: 38px; padding-top: 12px; transition: all .2s}
#content_area div:nth-of-type(4) dd:last-child a:hover{background: #fff; color: rgb(255,0,51); border: 1px solid rgb(255,0,51);}






#content_area{animation-name: ani;
animation-duration: 1s;
animation-iteration-count: 1;}