#content_area{width: 1200px; margin: 0 auto;overflow: hidden;}

.fix_box{margin-bottom: 150px;float: left; width: 804px; overflow: hidden;}
.fix_box1{margin-bottom: 150px;float: left; width: 804px; overflow: hidden;}
.fix_box2{margin-bottom: 150px;float: left; width: 804px; overflow: hidden;}
.title_box{width: 333px; margin-left: 30px;float: left;}
.title_box h3{font-size: 4.286em; font-weight: bold;}
.title_box p{font-size: 2.857em;margin:40px 0 30px 0;font-family: 'Nanum Gothic', sans-serif;}
.title_box ul{overflow: hidden;}
.title_box ul li{float: left; text-align: center; position: relative; top: 50%; }
.title_box ul li:first-child{border: 1px solid rgb(255,0,51);width: 60px; height: 60px;}
.title_box ul li:last-child{background:rgb(255,0,51); width: 62px; height: 62px; margin-left: 10px;}
.title_box ul li a{display: block; height: 45px; padding-top: 15px;font-size: 2em;}
.title_box ul li:first-child a{color: rgb(255,0,51);}
.title_box ul li:last-child a{color: white;}
/*move*/
.move_box{position: relative; left: 0; top: 0; width:1608px; height: 339px;}
.move_box>ul{ width: 804px;overflow: hidden;float: left; position: relative; left: 0; top: 0;}
.move_box>ul>li{ width: 238px;float: left; margin-left: 30px;}
.move_box>ul>li ul{line-height: 1.5em}
.move_box>ul>li ul li:nth-of-type(2){margin: 40px 0 20px 0}
.move_box>ul>li:hover{cursor: pointer;}
/*move1*/
.move_box1{position: relative; left: 0; top: 0; width:1608px; height: 339px;}
.move_box1>ul{ width: 804px;overflow: hidden;float: left; position: relative; left: 0; top: 0;}
.move_box1>ul>li{ width: 238px;float: left; margin-left: 30px;}
.move_box1>ul>li ul{line-height: 1.5em}
.move_box1>ul>li ul li:nth-of-type(2){margin: 40px 0 20px 0}
.move_box1>ul>li:hover{cursor: pointer;}
/*move2*/
.move_box2{position: relative; left: 0; top: 0; width:1608px; height: 339px;}
.move_box2>ul{ width: 804px;overflow: hidden;float: left; position: relative; left: 0; top: 0;}
.move_box2>ul>li{ width: 238px;float: left; margin-left: 30px;}
.move_box2>ul>li ul{line-height: 1.5em}
.move_box2>ul>li ul li:nth-of-type(2){margin: 40px 0 20px 0}
.move_box2>ul>li:hover{cursor: pointer;}

/*모달 css*/

.modal_back{width: 100%; height: 100%; position:fixed; left: 0; top: 42px; background: rgba(0,0,0,.5); display: none;z-index: 10}
.modal_con{width: 700px; height: 600px; position: absolute; left: 50%; top: 60%; margin: -350px 0 0 -350px; background: white; border-radius: 5px;z-index: 20}
.modal_con h1{text-align: center; margin-top: 50px;}
.modal_con img{ width: 600px; height: 300px; background: #ccc; display: block; margin: 20px auto;}
.modal_con p{text-align: justify; width: 500px; margin: 0 auto;}
.modal_con a{background: #333 url(../images/content4/close.png) no-repeat; width: 30px; height: 30px; border-radius:15px; margin: 30px auto 0 auto; display: block; color: white; font-weight: bolder; }