.title_area{background: url(../images/sub2_visual.jpg)no-repeat ;height: 100px; background-size: cover; margin-bottom: 30px; text-align: center;overflow: hidden;}

.content p{ text-align: center;font-family: 'Roboto', sans-serif; font-weight: bold;font-size: 20px; margin:0 0 20px 0}
.content p:nth-of-type(1){margin-top: 100px;}
.content ul{font-family: 'Nanum Gothic', sans-serif;}
.content ul li:last-child{margin-bottom: 100px}
.content div dl{line-height: 1.5em}
.content div dl dt{width:100px; height: 100px }
.content div ul li:nth-of-type(1) dl dt{background:url(../images/1.jpg)no-repeat center center; background-size: 100px 100px;}
.content div ul li:nth-of-type(2) dl dt{background:url(../images/2.jpg)no-repeat center center; background-size: 100px 100px;}
.content div ul li:nth-of-type(3) dl dt{background:url(../images/3.jpg)no-repeat center center; background-size: 100px 100px;}
.content div ul li:nth-of-type(4) dl dt{background:url(../images/4.jpg)no-repeat center center; background-size: 100px 100px;}
.content div ul li:nth-of-type(5) dl dt{background:url(../images/5.jpg)no-repeat center center; background-size: 100px 100px;}
.content div ul li:nth-of-type(6) dl dt{background:url(../images/6.jpg)no-repeat center center; background-size: 100px 100px;}

.content div dl dd:nth-of-type(1){margin: 10px 0}




