.inner{width: 1200px; margin: 0 auto}
#content_area div{overflow: hidden;}
#content_area div:nth-of-type(2){width: 1200px; margin: 0 auto 100px auto; position: relative; top: -100px; opacity: 0; transition: all .8s}
#content_area div:nth-of-type(2) img{float: left;}
#content_area div:nth-of-type(2) dl{ float: right; margin: 30px; width: 690px; font-size: 1.286em; text-align: justify;}
#content_area div:nth-of-type(2) dt{font-size: 1.667em;font-family: 'Nanum Gothic', sans-serif;font-weight: bold}
#content_area div:nth-of-type(2) dd{margin-top: 50px; line-height: 1.8em;}
#content_area div:nth-of-type(2) dt span{text-transform: uppercase}
#content_area div:nth-of-type(2) dt span:nth-of-type(1){color: rgba(255,0,51,1)}
#content_area div:nth-of-type(2) dt span:nth-of-type(2){color: rgba(255,122,0,1)}
#content_area div:nth-of-type(3) {width: 100%; background: rgba(0,0,0,.03); position: relative;  top: -100px; opacity:0; transition: all .8s}
#content_area div:nth-of-type(3) img{display: block; margin: 0 auto; display: block; }
#content_area div:nth-of-type(3) p{text-align: center; margin: 90px 0; font-size: 2.222em; font-family: 'Nanum Gothic', sans-serif;font-weight: bold}
#content_area div:nth-of-type(3) p span{text-transform: uppercase}
#content_area div:nth-of-type(3) p span:nth-of-type(1){ color: rgba(255,0,51,1)}
#content_area div:nth-of-type(3) p span:nth-of-type(2){color: rgba(255,122,0,1)}
#content_area div:nth-of-type(3)>span{position: absolute; right: 30px; bottom: 30px; font-size: 1.286em}
#content_area div.box_move{top: 0; opacity:1}

